name: JSON Schema Check

on:
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: JSON Schema Check
        uses: kit-data-manager/json-schema-check-action@v0.0.4
        with:
          schemaPath: 'schema.json'
          schemaVersion: 'draft-07'
          validate: true
          createDiff: true
          token: ${{ secrets.GITHUB_TOKEN }}
